.general-container{
     background:url(../img/business-car-cart-2262177.jpg);
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    
}
#mi_ubicacion{
    position: relative;
    right: 0;
}
.general-container form {
    width: 80%;
 
   
    padding: 20px;
   
    background: rgb(1,114,76)
}
.custom-file-label{
    overflow: hidden;
}
@media screen and (min-width:700px){
    .general-container form {
        width: 50%;
    }
}