.general-container{
  
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
}
.container-map{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height:100% ;
    border: 3px solid rgb(247,171,120);
}
#map{
    
    width: 100%;
    height: 88vh;
    background: grey;
}