.general-container{
    justify-content: center;
    align-items: center;
    margin-top: 0;
}
.container-detail{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 400px;
    flex-wrap: wrap;
}
.container-info{
    width:100%;
   

}
.container-info:first-child{
   
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-info img,#map {
    width: 400px;
    height: 300px;
    
}
.custom-file label{
    overflow: hidden;
}
#alert-verde{
    margin-top: 50px;
    z-index: 100;
}
#alert-roja{
    margin-top: 50px;
    z-index: 100;
}
th img{
    max-width: 120px;
    max-height: 100px;
}
@media screen and (min-width:760px){
    .container-info{
        width: 48%;
    }
    
}

