{% extends 'carts/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/crear_carrito.css' %}">
{% endblock extra_css %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
        <div class="wow wobble" id="alert-{{ alert }}">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong> {{ message }} </strong>
        </div>
        {% endfor %}
        {% endif %}
        <form class="bg-light rounded
" enctype="multipart/form-data" method="POST"> {% csrf_token %}
            <h2>Registrar carrito</h2>
            <div class="form-group">
                <label for="txtnombre">Nombre carrito:</label>
                <input id="txtnombre" required name="txtnombre" placeholder="" class="form-control " type="text">
            </div>
          
           <div class="form-group">
            <div class="custom-file">
                <input type="file" name="txtimagen" class="custom-file-input" id="txtimagen" lang="es">
                <label  class="custom-file-label" for="txtimagen">Seleccionar Archivo</label>
              </div>
           </div>
         <div class="form-group">
                <label for="txtnomtxtnombredueñobre">Nombre dueño:</label>
                <input id="txtnombredueño" required name="txtnombredueño" placeholder="" class="form-control " type="text">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="">Latitud</label>
                        <input readonly id="txtlatitud" name="txtlatitud" class="form-control" type="text">
                    </div>
                    <div class="col">
                        <label   for="">Longitud</label>
                        <input  readonly  id="txtlongitud" name="txtlongitud" class="form-control" type="text">
                    </div>
                </div>
            </div>
          <div class="form-group">
                <label for="txtdireccion">Direccion:</label>
                <input id="txtdireccion" required name="txtdireccion" placeholder="" class="form-control " type="text">
            </div>
          
         
            <div class="form-group">
                <label for="txtdescripcion">Descripcion:</label>
                <textarea txt="txtdescripcion" name="txtdescripcion" required id="txtdescripcion" class="form-control"></textarea>
            </div>

            <div class="form-groupc " align="center">
                <button type="submit" class="btn   btn-info btn-lg">Crear</button>
            </div>
        </form>
{% endblock content %}
{% block extra_js %}
<script src="{% static 'js/map.js'  %}"> </script>
<script>
$(document).ready(function () {
  bsCustomFileInput.init()
})
</script>
{% endblock extra_js %}