{% extends 'carts/base.html' %}
{% load static %}
{% block extra_css %}
 <link rel="stylesheet" href="{% static 'css/lista_carritos.css' %}">
{% endblock extra_css %}
{% block content %}

{% for carro in carros  %}
 <div class="card" style="width: 18rem;">
            {% if carro.imagen %}
             <img src="{{ carro.imagen.url }}" class="card-img-top" alt="...">
            {% endif %}
          
           <div class="card-body">
               <h5 class="card-title">{{ carro.nombre }}</h5>
               <p class="card-text">{{ carro.descripcion }}</p>

           </div>
           <div class="card-footer">
               <a href="{% url 'modificar_carrito' carro.id %}" class="btn btn-info">Modificar</a>
           </div>
       </div>

 
{% endfor %}
   
      

{% endblock content %}