{% extends 'carts/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/modificar_carrito.css' %}">
{% endblock extra_css %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="wow wobble" id="alert-{{ alert }}">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong> {{ message }} </strong>
</div>
{% endfor %}
{% endif %}
<form class="form-one bg-light rounded
" enctype="multipart/form-data" method="POST"> {% csrf_token %}
    <h2>Modificar mi carrito</h2>
    <input type="hidden" value="{{ micarro.id }}" name="txtid">
    <div class="form-group">
        <label for="txtnombre">Nombre carrito:</label>
        <input id="txtnombre" required name="txtnombre" value="{{ micarro.nombre }}" placeholder=""
            class="form-control " type="text">
    </div>

    <div class="form-group">
        {% if micarro.imagen %}
         <a href="{{ micarro.imagen.url }}">{{  micarro.imagen.name }}</a>
         {% endif %}
        <div class="custom-file">
            <input type="file" name="txtimagen" accept="image/*" value="{{ micarro.imagen.url }}"
                class="custom-file-input" id="txtimagen" lang="es">
            <label class="custom-file-label" for="txtimagen">{{  micarro.imagen.name }}</label>
        </div>
    </div>
    <div class="form-group">
        <label for="txtnomtxtnombredueñobre">Nombre dueño:</label>
        <input id="txtnombredueño" required name="txtnombredueño" value="{{ micarro.nombre_dueño }}" placeholder=""
            class="form-control " type="text">
    </div>
    <div class="form-group">
                    <div class="   accordion" id="accordionExample">
                            <div class="rounded-top card">
                              <div class=" card-header" id="headingOne">
                                  <div class="row">
                                 <div class="col">
                                    <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Marcar
                                          </button>
                              </div>
                              <div class="col">
                                    <button id="mi_ubicacion" type="button" class=" btn btn-info"> Actual</button>
                              </div>
                                  </div>
                           
                                  
                              </div>
                          
                              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                        <div id="map" style="width: 100%; height: 400px; background: grey" />
                                </div>
                              </div>
                            </div>
                   
                       
                          </div>
                      
                       
                </div>
                   <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="">Latitud</label>
                        <input required readonly id="txtlatitud"  value="{{ micarro.latitud }}" name="txtlatitud" class="form-control" type="text">
                    </div>
            
                   
                   
                    <div class="col">
                        <label   for="">Longitud</label>
                        <input required readonly  id="txtlongitud" value="{{ micarro.longitud }}" name="txtlongitud" class="form-control" type="text">
                    </div>
                </div>
            </div>
    <div class="form-group">
        <label for="txtdireccion">Dirección:</label>
        <input id="txtdireccion" required name="txtdireccion" value="{{ micarro.direccion }}" placeholder=""
            class="form-control " type="text">
    </div>


    <div class="form-group">
        <label for="txtdescripcion">Descripción:</label>
        <textarea txt="txtdescripcion" name="txtdescripcion" value="{{ micarro.descripcion }}" required
            id="txtdescripcion" class="form-control">{{ micarro.descripcion }}</textarea>
    </div>

    <div class="form-groupc " align="center">
        <button type="submit"  name="btn-form-1" class="btn   btn-info btn-lg">Modificar</button>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModalScrollable">
            Productos
        </button>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable2">
            +
        </button>

     
        <!-- Modal- VER PRODUCTOS -->
        <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">Menu {{ micarro.nombre }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Descripcion</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for producto in productos %}
                                    <tr>
                                    <th scope="row">
                                        {% if producto.imagen %}
                                        <img src="{{ producto.imagen.url }}" alt=""></th>
                                        {% endif %}
                                    <td>{{ producto.nombre }}</td>
                                    <td>{{ producto.precio }}</td>
                                    <td>{{ producto.descripcion }}</td>
                                </tr>
                                
                                {% endfor %}
                            
                           
                            </tbody>
                        </table>

                
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
   <!-- Modal  AGREGAR PRODUCTOS -->
        <div class="modal fade" id="exampleModalScrollable2" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalScrollableTitle2" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle2">Agregar productos</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="agrega-pro" enctype="multipart/form-data" method="POST">{% csrf_token %}
                            <div class="form-group">
                                    <label for="txtimagen">Imagen productos:</label>
                                <div class="custom-file">
                                  
                                    <input type="file" required name="txtimagenpro"  class="custom-file-input " id="txtimagenpro"
                                        lang="es">
                                    <label class="custom-file-label  my-auto" for="txtimagenpro">Seleccionar Archivo</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                            <input  required class="form-control" name="txtnombrepro" placeholder="Nombre" type="text">
                                    </div>
                                    <div class="col">
                                            <input required type="text" class="form-control"
                            onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                            name="txtprecio" id="txtprecio" placeholder="Precio">
                                    </div>
                                </div>
                              
                            </div>
                            <div class="form-group">
                                <label  for="txtdescripcionpro">Descripcion:</label>
                                <textarea maxlength="15" id="txtdescripcionpro" class="form-control" name="txtdescripcionpro" ></textarea>
                            </div>
                            <div class="form-group">
                               <div class="row">
                                <button type="submit" class="btn btn-primary mx-auto " name="btn-form-2" >+ Agregar</button>
                            </div>
                            </div>
                         
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerar</button>
                        
                    </div>
                </div>
            </div>
        </div> 
{% endblock content %}
{% block extra_js %}
<script type="text/javascript" charset="UTF-8">
    $('#collapseOne').collapse({toggle: true})

    /**
     * An event listener is added to listen to tap events on the map.
     * Clicking on the map displays an alert box containing the latitude and longitude
     * of the location pressed.
     * @param  {H.Map} map      A HERE Map instance within the application
     */
    function setUpClickListener(map) {
        // Attach an event listener to map display obtain the coordinates and display in
        // an alert box.
        const long = document.getElementById('txtlongitud')
        const lat = document.getElementById('txtlatitud')
        const yo = document.getElementById('mi_ubicacion')
        map.addEventListener('tap', function (evt) {
            var coord = map.screenToGeo(
                evt.currentPointer.viewportX,
                evt.currentPointer.viewportY
            );
            // alert('Clicked at ' + coord.lat  +' ' + coord.lng );
            long.value = coord.lng;
            lat.value = coord.lat;
        });
        yo.addEventListener('click', function () {
            if (navigator.geolocation) {
                // const watcher = navigator.geolocation.watchPosition(mostrarUbicacion);
                // setTimeout(() => {   navigator.geolocation.clearWatch(watcher); }, 5000);

                navigator
                    .geolocation
                    .getCurrentPosition(mostrarUbicacion);
            }

            function mostrarUbicacion(ubicacion) {
                const lng = ubicacion.coords.longitude;
                const late = ubicacion.coords.latitude;
                long.value = lng;
                lat.value = late;
                function centrarYo(map) {
                    map.setCenter({lat: late, lng: lng});
                    map.setZoom(15.8);
                }
                centrarYo(map);
                var iam = "{% static 'img/pig2.png' %}";
                var icons = new H
                    .map
                    .Icon(iam);
                function addMarkersToMap(map) {
                    var maipu = new H
                        .map
                        .Marker({
                            lat: late,
                            lng: lng
                        }, {icon: icons});
                    map.addObject(maipu);

                }
                addMarkersToMap(map)
            }
        })

    }

    function restrictMap(map) {

        var bounds = new H
            .geo
            .Rect(
                -33.53671726846797,
                -70.80662211400124,
                -33.47831878544538,
                -70.72800120335671
            );

        map
            .getViewModel()
            .addEventListener('sync', function () {
                var center = map.getCenter();

                if (!bounds.containsPoint(center)) {
                    if (center.lat > bounds.getTop()) {
                        center.lat = bounds.getTop();
                    } else if (center.lat < bounds.getBottom()) {
                        center.lat = bounds.getBottom();
                    }
                    if (center.lng < bounds.getLeft()) {
                        center.lng = bounds.getLeft();
                    } else if (center.lng > bounds.getRight()) {
                        center.lng = bounds.getRight();
                    }
                    map.setCenter(center);
                }
            });

        //Debug code to visualize where your restriction is
        map.addObject(new H.map.Rect(bounds, {
            style: {
                fillColor: 'rgba(247,171,120,0.1)',
                strokeColor: 'rgba(247,171,120,0.6)',
                lineWidth: 5
            }
        }));
    }
 function centrarMiapu(map){
        map.setCenter({lat:{{  micarro.latitud }}, lng:{{  micarro.longitud }} });
        map.setZoom(14.7);
     
   
      }
      function miCarrito(map){
    var iconactual = "{%  static 'img/50x80.png' %}"
         var icon2 = new H
        .map
        .Icon(iconactual);
            var marker = new H
        .map
        .Marker({lat:{{  micarro.latitud }}, lng:{{  micarro.longitud }} }, {icon: icon2});
        map.addObject(marker);
      }
     
      
    /**
     * Boilerplate map initialization code starts below:
     */

    //Step 1: initialize communication with the platform
    var platform = new H
        .service
        .Platform(
            {app_id: 'brNJ2r7NYlgWCQ5xQ6LV', app_code: '_XCtQXRbZe6Dl9AGPHNyIg', useHTTPS: true}
        );
    var pixelRatio = window.devicePixelRatio || 1;
    var defaultLayers = platform.createDefaultLayers({
        tileSize: pixelRatio === 1
            ? 256
            : 512,
        ppi: pixelRatio === 1
            ? undefined
            : 320
    });

    //Step 2: initialize a map
    var map = new H.Map(document.getElementById('map'), defaultLayers.normal.map, {
        center: {
            lat: -33.4552348,
            lng: -70.6954542
        },
        zoom: 12,
        pixelRatio: pixelRatio
    });

    // Step 3: make the map interactive MapEvents enables the event system Behavior
    // implements default interactions for pan/zoom (also on mobile touch
    // environments)
    var behavior = new H
        .mapevents
        .Behavior(new H.mapevents.MapEvents(map));
    restrictMap(map)
    centrarMiapu(map)
    miCarrito(map)
    setUpClickListener(map);
</script>
<script>
    $(document).ready(function () {
        bsCustomFileInput.init()
    })
</script>
{% endblock extra_js %}