{% extends 'carts/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/registro.css' %}">
{% endblock extra_css %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="wow wobble" id="alert-{{ alert }}">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong> {{ message }} </strong>
</div>
{% endfor %}
{% endif %}
<form method="post" class="bg-light rounded
" action="">{% csrf_token %}
    <h2>Registrarse</h2>
    <div class="form-group">
        <label for="txttipo">Tipo de usuario:</label>
        <select required class="form-control" name="txttipo" id="txttipo">
            <option value="Normal" selected>Normal</option>
            <option value="Propietario">Propietario</option>
        </select>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col">
                <input required name="txtnombre" type="text" class="form-control" placeholder="Nombres">
            </div>
            <div class="col">
                <input required name="txtapellido" type="text" class="form-control" placeholder="Apellidos">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col">
                <input name="txtdireccion" type="text" class="form-control" placeholder="Direccion">
            </div>
            <div class="col">
                 <input required type="text" class="form-control"
                            onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                            name="txttelefono" id="txttelefono" placeholder="Telefono">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="txtemail">Email:</label>
        <input required name="txtemail" id="txtemail" placeholder="ejemplo@gmail.com"
            class="form-control form-control-lg " type="eamil">
    </div>
    <div class="form-group">
        <label for="txtpass">Contraseña:</label>
        <input required name="txtpass" id="txtpass" placeholder="***********************"
            class="form-control form-control-lg " type="password">
    </div>
    <div class="form-groupc " align="center">
        <button class="btn   btn-info btn-lg">Registrarse</button>
    </div>
</form>
{% endblock content %}