{% extends 'carts/base.html' %}
{% load static %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/ver_carrito.css' %}">
{% endblock extra_css %}
{% block content %}
<div class="container-detail">
    <div class="container-info">
        <div id="map"></div>   
    </div>
    <div class="container-info">
        <h2>{{ carrito.nombre }}</h2>
        <h6></h6>
        <p>{{ carrito.descripcion }}</p>
        <table class="table table-striped">

            <tbody>
                <tr>
                    <td>Nombre dueño:</td>
                    <td>{{ carrito.nombre_dueño }}</td>

                </tr>
                <tr>
                    <td>Direccion:</td>
                    <td>{{ carrito.direccion }}</td>

                </tr>
                


            </tbody>
        </table>
        <div class="form-group">
            <div class="row">
                
             
                            <button type="button" class="btn mx-auto btn-primary " data-toggle="modal" data-target="#exampleModalScrollable">
                                    ¿Que vende?
                                </button>
              
            </div>
         
              
        </div>
      

        <!-- Modal- VER PRODUCTOS -->
        <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">Menu {{ micarro.nombre }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Descripcion</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for producto in productos %}
                                    <tr>
                                    <th scope="row">
                                        {% if producto.imagen %}
                                        <img src="{{ producto.imagen.url }}" alt="">
                                        {% endif %}</th>
                                    <td>{{ producto.nombre }}</td>
                                    <td>{{ producto.precio }}</td>
                                    <td>{{ producto.descripcion }}</td>
                                </tr>
                                
                                {% endfor %}
                            
                           
                            </tbody>
                        </table>

                
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block extra_js %}
<script type="text/javascript" charset="UTF-8">

    function addMarkerToGroup(group, coordinate, html) {
        var icono = "{% static 'img/50x80.png' %}";
        var icon = new H
            .map
            .Icon(icono);
        var marker = new H
            .map
            .Marker(coordinate, {icon: icon});
        // add custom data to the marker
        marker.setData(html);
        group.addObject(marker);
    }

    /**
 * Add two markers showing the position of Liverpool and Manchester City football clubs.
 * Clicking on a marker opens an infobubble which holds HTML content related to the marker.
 * @param  {H.Map} map      A HERE Map instance within the application
 */
    function addInfoBubble(map) {
        var group = new H
            .map
            .Group();

        map.addObject(group);

        // add 'tap' event listener, that opens info bubble, to the group
        group.addEventListener('tap', function (evt) {
            // event target is the marker itself, group is a parent event target for all
            // objects that it contains
            var bubble = new H
                .ui
                .InfoBubble(evt.target.getPosition(), {
                    // read custom data
                    content: evt
                        .target
                        .getData()
                });
            // show info bubble
            ui.addBubble(bubble);
        }, false);

        addMarkerToGroup(
            group,
            {
                lat: {{ carrito.latitud }},
                lng: {{ carrito.longitud }}
            },
            '<div><a href=\'{% url "ver_carrito" carrito.id %}\' >{{ carrito.nombre }}</a><' +
                    '/div><div >Dueño:{{ carrito.nombre_dueño}}</div>'
        );
    }


function HERERoute (map, platform, routeOptions) {
  var router = platform.getRoutingService();

 var onSuccess = function(result) {
  var route,
    routeShape,
    startPoint,
    endPoint,
    strip;

  if (result.response.route) {
    route = result.response.route[0];
    routeShape = route.shape;

    strip = new H.geo.Strip();

    routeShape.forEach(function(point) {
      var parts = point.split(',');
      strip.pushLatLngAlt(parts[0], parts[1]);
    });

    var routeLine = new H.map.Polyline(strip, {
      style: { strokeColor: 'rgba(247,171,120)', lineWidth: 10 }
    });

    map.addObject(routeLine);

    map.setViewBounds(routeLine.getBounds());
  }
};
  var onError = function(error) {
    console.error('Oh no! There was some communication error!', error);
  }

  router.calculateRoute(routeOptions, onSuccess, onError);
}
function locationToWaypointString(coordinates) {
  return  coordinates.lat + ',' + coordinates.lng;
}
var routeRendered = false;
var llamdas = 0;
function actualizarPosicion(event) {
    var miubicacion = {
        lat: event.coords.latitude,
        lng: event.coords.longitude
    };
    ///DIRECTORIOS IMAGENES Markers
    var iam = "{% static 'img/pig2.png' %}";
    var filepaw = "{% static 'img/paws.png' %}";
    //icono CERDO
    var icon1 = new H
        .map
        .Icon(iam);
        ///iconopatas
    var icon2 = new H
        .map
        .Icon(filepaw);
    var marker = new H
        .map
        .Marker(miubicacion, {icon: icon1});
    var markerpaw = new H
        .map
        .Marker(miubicacion, {icon: icon2});    
      //VEO SI LA UBICACION NO ES LA MISMA QUE LA ANTERIOR BORRO EL MARCADOR 
      //QUE HABIA PUESTO
    if(this.miubicacionMarker){
      map.removeObject(this.miubicacionMarker);
     
      
      llamdas++;
      var mul = 10;
      var result = llamdas%mul;
      if (result==0){
            map.addObject(markerpaw);
        alert('huella  '+llamdas)
      }
      
    }
    
    //AGREGO MARCADOR UBICACION ACTUAL
    map.addObject(marker);
    
    //GUARDO MARCADOR UBICACION ACTUAL
    this.miubicacionMarker = map.addObject(marker);
    //CENTRO EN MI UBICACION CONSTANTEMENTE
    map.setCenter(miubicacion);
     //ZOOM EN MI UBICACION CONSTANTEMENTE
    map.setZoom(15.8);

var carritoelegido = {
    lat: {{ carrito.latitud }},
    lng: {{ carrito.longitud }}
}
    if (!routeRendered) {
var route = new HERERoute(map, platform, {
mode: 'shortest;pedestrian',
representation: 'display',
waypoint0: locationToWaypointString(miubicacion),
waypoint1: locationToWaypointString(carritoelegido)
});
 
routeRendered = true;
}

}
 function erroNo(err) {
   alert("Usted a denegado la ubicación, si desea usar el mapa vuelva activarla")
    console.warn('ERROR(' + err.code + '): ' + err.message);
}

    navigator
    .geolocation
    .watchPosition(actualizarPosicion,erroNo,{maximumAge:0, timeout:15000, enableHighAccuracy:true});




    function centrarMaipu(map) {
        map.setCenter({lat: {{ carrito.latitud }}, lng: {{ carrito.longitud }}});
        map.setZoom(16);
    }

    var platform = new H
        .service
        .Platform(
            {app_id: 'brNJ2r7NYlgWCQ5xQ6LV', app_code: '_XCtQXRbZe6Dl9AGPHNyIg', useHTTPS: true}
        );
    var pixelRatio = window.devicePixelRatio || 1;
    var defaultLayers = platform.createDefaultLayers({
        tileSize: pixelRatio === 1
            ? 256
            : 512,
        ppi: pixelRatio === 1
            ? undefined
            : 320
    });

    // Step 2: initialize a map  - not specificing a location will give a whole
    // world view.
    var map = new H.Map(
        document.getElementById('map'),
        defaultLayers.normal.map,
        {pixelRatio: pixelRatio}
    );

    // Step 3: make the map interactive MapEvents enables the event system Behavior
    // implements default interactions for pan/zoom (also on mobile touch
    // environments)
    var behavior = new H
        .mapevents
        .Behavior(new H.mapevents.MapEvents(map));

    // AGREGAR COMPONENTES UI
    var ui = H
        .ui
        .UI
        .createDefault(map, defaultLayers, 'es-ES');

    //OPCIONES DEL MAPAA PRIMERO ES PARA CENTRA EL MAPA EN MAIPUNGA
    centrarMaipu(map);
    // AGREGAR MARCADORES   addMarkersToMap(map);
    addInfoBubble(map);
</script>

<script>
    $(document).ready(function () {
        bsCustomFileInput.init()
    })
</script>
{% endblock extra_js %}